.first_half{
    height:50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
._1sthf{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
   
}