.second_half{
    /* margin: 20px; */
    height: 35vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* gap: 20px; */
    
    
}
._2hf_box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    /* margin: 19px; */
    padding: 20px;
}
._2hf_divs{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   padding: 5px;
   
}
._2hf_divs i{
    font-size: 70px;
}