.fourth_half{
    /* margin: 20px; */
    height: auto;
    background-color: rgb(255, 255, 255);
    /* display: flex; */
    /* justify-content: space-around; */
    align-items: center;
    /* gap: 20px; */
    color: rgb(0, 0, 0);
    
    
}
.fourth_half h1{
    color: blue;
}
.fourth_half h3{
    color: blue;
}
._4hf_box{
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
    gap: 40px;
    margin: 19px;
    padding: 20px;
}
._4hf_divs{
   display: flex;
   flex-direction: column;
   align-items: center;
   /* justify-content: space-around; */
   gap: 10px;
   padding: 5px;
   
}
._4h_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
._4h_header p{
    width: 60%;
    text-align: center;
}
._4hf_box h1{
    columns: dark blue;
}


