*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
   /* border: 1px solid black; */
   font-family: cera-round-pro, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
   
}

body{
   background-color:transparent;
}