.navbar{

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    margin: 10px;
    /* width: 80%; */


}
.navbar_a_section{
    width: 50%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding: 10px;
   
    
}
.nav_logo{
    display: flex;
    /* margin-inline-end: auto; */
    

}
.nav_searchbar{
    display: flex;
    /* margin-inline-start: auto; */


}