.navbar{

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    margin: 10px;
    /* width: 80%; */


}
/* .navbar:first-child{
    margin-right: auto;
}
.navbar:last-child{
    margin-left: auto;
} */
.navbar_a_section{
    width: 50%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding: 10px;
   
    
}
.nav_logo{
    display: flex;
    /* margin-inline-end: auto; */
    

}
.nav_searchbar{
    /* position: relative; */
    padding: 3px;
   


}
.nav_searchbar input{
    height:35px;
    width: 10rem;
    outline: none;
    border: none;
    /* padding: 10px; */
    border-radius: 30px;
}
.nav_searchbar input[placeholder]{
    padding: 10px;

}